.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: 0;
    width: 0;
    margin-top: 5px;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 10px;
    width: 100%;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}


.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    bottom: 38px;
    right: 8px;
    position: relative;
    border-radius: 5px;
}

.search-icon:hover {

    color: #002aff !important;
}

a:link {
    text-decoration: none
}

.card img{
    width: 200px;
}

/* Load more and show less buttons */
.load-more-button,
.show-less-button {
  margin-top: 20px;
}